@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  height: 100vh;
}

button{
  display: inline-flex;
  align-items: center;
  font-size: 1.6rem;
  padding: .75rem 1rem;
  color: #fefefe;
  border: 0;
  outline: 0;
  cursor: pointer;
  transition-duration: 0.3s;
  transition-property: background-image;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 8px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}